body{
    text-align: center;
    background-color: white;
}

h1{
    background-color: aquamarine;
}

a{
    background-color: tomato;
}

div{
    background-color: yellow;
}

span{
    background-color: rgb(255, 156, 156);
}
